<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/templates/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sudoku Solver</title>
  </head>
  <body>
    <h1>Pi Video Surveillance</h1>
    <h2>Show a sudoku to your camera to see it solved!</h2>
    <div class="container">
      <div class="video-container"> 
	<b>Solved!</b>
        <img src="{{ url_for('video_feed') }}">
      </div>
      <div class="video-container"> 
	<b>Camera</b>
        <img src="{{ url_for('video_feed2') }}">
      </div>
    </div>
    
  </body>
</html>
